/* 
This CSS code defines styles for a webpage's elements. 
It includes styling for parent containers, text alignment, padding, 
border, margin, width, height, and font size. 
Each CSS class represents a different element or set of elements on the page.
*/

/* Styles for the parent div with class .hav */
.hav {
  background-color: rgb(249, 223, 223);
  border: 2px solid #ef9849;
  height: 700px;
  width: 700px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  border-style: dotted;
  /* background-color: #fcf6f6;
      padding: 70px;
      border: 2px solid white;
      margin: 0 auto;
      width: 450px;
      height: 400px;
      margin-top: 0%; */
}

.div2 {
  width: 5px;
  margin: 50px 100px;
  align-items:center ;
}

.div3 {
  width: 5px;
  margin: 50px 100px;
}
/* Styles for the div with class .havi */
.havi {
  width: 500px;
  align-items: center;
  height: 350px;
  border-radius: 8px;
  margin-left: 5px;
  /* width: 400px;
    padding: auto;
    height: 300px;
    margin-left: 30px; */
}
<<<<<<< HEAD

.havi1 {
  width: 480px;
  height: 350px;
  border-radius: 8px;
=======
.havii {
  width: 550px;
  align-items: center;
  height: 350px;
  border-radius: 8px;
  margin-left: 70px;

>>>>>>> 7d45f6a427547d3cf3008bfcf1895b367eda9a76
}
/* Styles for elements with class .havu */
.havu {
  font-size: 40px;
<<<<<<< HEAD
  font-family: cursive;
  text-align: center;
=======
  text-align:left;
>>>>>>> 7d45f6a427547d3cf3008bfcf1895b367eda9a76
  margin: 30px 0;
  font-weight: normal;
}
.havu1{
  font-size: 40px;
  text-align:left;
  margin: 30px 0;
  font-weight: normal;
  margin-left: 15px;
}
/* Styles for elements with class .havuti */
.havuti {
  font-size: 20px;
  width: 520px;
  
  line-height: 25px;
}
.havuti1 {
  font-size: 20px;
  width: 520px;
  margin-left: 20px;
  line-height: 25px;
}
/* Styles for elements with class .next */
button {
  border: none;
  background-color: #ef9849;
  padding: 6px 8px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.5s;
}

/* Hover effect for elements with class .next */
button:hover {
  background-color: rgb(98, 136, 101);
}

/* Styles for elements with class .but */
.but {
<<<<<<< HEAD
  margin-bottom: 15px;
=======
  text-align:left;
  font-size: 40px;
  margin-bottom: 2px;
margin-left: 20px;
>>>>>>> 7d45f6a427547d3cf3008bfcf1895b367eda9a76
}
