/* styling for the box model */
#food1 {
 background-color: rgb(244, 244, 231);
 border: 2px solid #ef9849;
 height: 700px;
 width: 700px;
 padding: 20px;
 margin: 0 auto;
 border-radius: 30px;
 border-style: dotted;
 }

 /* child div styling */
.jollof {
  width: 5px;
  margin: 50px 100px;
}

/* image styling */
img {
  width: 500px;
  border-radius: 8px;
 }

/* heading style */
 h2 {
  margin: 0;
  font-family: cursive;
 }

 pre {
  margin: 0;
  line-height: 23px;
 }

 /* button styling */
 button {
  border: none;
  background-color:#ef9849;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.15s;
}

 /* more button styling */
 button:hover {
  background-color: darkkhaki;
}