#food2 {
    background-color: rgb(244, 244, 231);
    border: 2px solid #ef9849;
    height: 700px;
    width: 700px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 30px;
    border-style: dotted;
    }
   .chin-chin {
     width: 5px;
     /* margin: 0 auto; */
     margin: 50px 100px;
   }
   
   img {
    width: 500px;
    border-radius: 10px;
    }
   
    h2 {
      margin: 0;
      font-family: cursive;
    }
    pre {
      margin: 0;
      line-height: 23px;
     }
    button {
     border: none;
     color: white;
     background-color:#ef9849;
     padding: 6px 8px;
     border-radius: 3px;
     cursor: pointer;
     margin-bottom: 15px;
     transition: 0.5s;
    }
    button:hover {
     background-color: darkkhaki;
   }