.container {
  background-color: rgb(244, 244, 231);
  border: 2px solid #ef9849;
  height: 700px;
  width: 700px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  border-style: dotted;
}
/* .content {
  margin: 0 auto;
  max-width: 60%;
} */
#image {
  width: 5px;
  margin: 50px 100px;
}

/* .anchor {
  width: 5px;
  margin: 2px 2px; */
}

h2 {
  margin: 0;
  font-family: cursive;
}

pre {
  margin: 0;
  line-height: 18px;
}

img {
  width: 500px;
  border-radius: 8px;
}

#link {
  margin: 0 auto;

  width: fit-content;
}
button {
  border: none;
  background-color: #ef9849;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.15s;
}

/* more button styling */
button:hover {
  background-color: darkkhaki;
}
