/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* border: 2px solid red; */

.parent {
  /* border: 2px solid blue; */
  background-color: rgb(244, 244, 231);
  border: 2px solid #ef9849;
  height: 700px;
  width: 700px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  border-style: dotted;
}

.parent1 {
  /* border: 2px solid blue; */
  background-color: rgb(244, 244, 231);
  border: 2px solid #ef9849;
  height: 730px;
  width: 700px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  border-style: dotted;
}
#img {
  width: 5px;
  margin: 50px 100px;
  /* background-image: url(./images/food1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

pre {
  margin: 0;
  line-height: 28px;
}
h2 {
  margin: 0;
  font-family: cursive;
}

button {
  border: none;
  background-color: #ef9849;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.15s;
}

button:hover {
  background-color: darkkhaki;
}

img {
  width: 500px;
  border-radius: 8px;
}

.spag {
  width: 370px;
  margin-right: 20px;
  border-radius: 10px;
}
#image {
  width: 5px;
  margin: 50px 160px;
}
